<!-- Navbar content -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a href="https://acloud.guru/">
    <img src="/assets/acloudguru_long_logo.png" width="300" class="d-inline-block align-top brand-img" alt="A Cloud Guru Logo">
  </a>
</nav>

<!-- Content for the main page -->
<div class="container-fluid background">
    <div class="container tools-body">
      <div class="row">
        <div class="header text-center">
          <div class="jumbotron">
              <img class="ansible-logo" src="../assets/ansible_logo.png" alt="ansible logo"/>
              <h1 class="display-3">{{title}}</h1>
              <p class="lead">Being able to configure and update your environments is an important part of DevOps. Doing these tasks quickly and easily is even more important. Ansible helps solve the problem of manually configuring servers one-by-one. Using Ansible as an automation tool System Administrators can update and configure servers from a single machine. This course is a way to learn how to setup Ansible and a sandbox environment to learn in. You’ll learn how to manage servers using Ansible playbooks, stand up a new environments, and monitor your cloud infrastructure.</p>
              <p><a class="btn btn btn-success" href="https://github.com/ACloudGuru-Resources/Course_Introduction_to_Ansible" role="button">See source code <i class="fa fa-code"></i></a></p>
            </div>
            <img class="mx-auto d-block" style="max-width: 1000px; padding-top: 50px;"src="../assets/ansible-setup-diagram.png" alt="Ansible setup diagram">
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="row info-item">
              <h3> 1. Course Introduction </h3>
              <p> Discuss what Ansible is and some of its use cases. We will learn about why, when, and where it is used and similar tools used in the industry today.</p>
          </div>
          <div class="row info-item">
              <h3> 2. Setup Enviornment </h3>
              <p> We will learn how to install Ansible and other tools get your system ready for hand on labs and experience you’ll use in this course. </p>
          </div>
          <div class="row info-item">
              <h3> 3. Tasks </h3>
              <p> Learn about adhoc commands and how to use the Ansible command line tools. Gain experience with running our first Ansible commands. </p>
          </div>
        </div>
        <div class="col-6">
            <div class="row info-item">
                <h3> 4. Playbooks </h3>
                <p> Hands on experience with writing and running playbooks to achieve deployment, automation and orchestration.</p>
            </div>
            <div class="row info-item">
                <h3> 5. Using Varibles </h3>
                <p> Learn how to refactor playbooks by using variables and making our automation more modular. </p>
            </div>
            <div class="row info-item">
                <h3> 6. After Thoughts </h3>
                <p> We will go over common issues, testing playbooks, the future of automation as code and cleaning up our environment.  </p>
            </div>
        </div>
      </div>
    <footer class="footer">
      <p>© Copyright {{date}}</p>
    </footer>
  </div>
</div>
